
html, body{
  height: 100%;
  /* The image used */
  /* Center and scale the image nicely */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  max-width: 100%;
  max-height: 50%;
  padding-top:10px;
}

h1 {
    font-family: monospace;
    font-style: oblique;
    background-color: transparent;
    font-size: 40px;
    color: white;
    line-height: normal;
}

h4 {
 font-family: monospace;
  font-style: normal;
   background-color: transparent;
  font-size: 30px;
  color: black;
  line-height: normal;
}

h3{
 font-family: monospace;
  font-style: oblique;
   background-color: transparent;
  font-size: 20px;
  color: black;
  line-height: normal;
}

h5{
 font-family: monospace;
  font-style: normal;
   background-color: transparent;
  font-size: 15px;
  color: black;
  line-height: normal;
}

button {
  font-family: monospace;
  font-style: oblique;
  font-size: 25px;
  background: transparent;
  border-style: hidden;
  line-height: normal;
}

.badge {
    margin: auto;
}

.img{
  max-width: 100%;
  height: fixed;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}

.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}

.mt-0 {
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-right: : 0 !important;
}

.ml-1 {
  margin-left: (spacer * .25) !important;
}

.px-2 {
  padding-left: (spacer * .5;) !important;
  padding-right: (spacer * .5;) !important;
}




