{% extends "base.html" %}
<!-- BODY -->
{%block header %}notes{% endblock%}

{% block content %}
<!-- HOME -->
    <div class="col-12">
      <div class="scrollspy-example" data-spy="scroll" data-target="#sidebarList" data-offset="0">
          <img src="{{ photo }}", data-slide-to="0" class="d-block mx-auto" alt="{{ photo }}"> </img>
      </div>
    </div>
{% endblock %}
{% block sidebar %}
<iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/playlist/ocean/pl.u-eovjSz6Bjx8"></iframe>
{% endblock %}
