{% extends "base.html" %}
<!-- BODY -->
{%block header %}projects{% endblock%}

{% block content %}
    {% for link in data %}
    <h3 class="text-info">{{ link.text.lower() }}</h3>
      {% if link.embedded != None %}
        {{ link.embedded|safe }}
      {% endif %}
        <a href="{{ link.url }}"><h5>{{ link.url }}</h5></a>
    <div class="row" style="height: 50px;"></div>
    {% endfor %}
{% endblock %}


<!--<div class="container">-->
<!--      <div class="card  border-dark mb-3">-->
<!--        <h5 class="card-header"> {{ data.title }} </h5>-->
<!--          <iframe src="{{ data.url }}" class="card-img-top sticky-top" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>-->
<!--      </div>-->
<!--    </div>-->